@using CleanArchitectureBlazor.Core.ApplicationService.Models.Setting.Menu
@using CleanArchitectureBlazor.Core.ApplicationService.Repositories.Setting
@inject IMenuService _menuService;
<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Tajerbashi</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Dashboard
            </NavLink>
        </div>
        @if (Menus.Count > 0)
        {
            foreach (var item in Menus)
            {
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="@item.Link">
                        <span class="@item.Icon" aria-hidden="true"></span> @item.Title
                    </NavLink>
                </div>
            }
        }
    </nav>
</div>

@code {
    private List<MenuProfileModel> Menus = new List<MenuProfileModel>();

    // Invoked once after the component has been initialized
    protected override async Task OnInitializedAsync()
    {
        await LoadMenuAsync();
    }

    // Load menu data asynchronously
    private async Task LoadMenuAsync()
    {
        var menuItems = await _menuService.ReadProfileAsync();
        Menus = menuItems.ToList();
        StateHasChanged(); // Triggers UI refresh after data load
    }
}

