@using CleanArchitectureBlazor.Application.Models.Setting.Menu
@using CleanArchitectureBlazor.Application.Repositories.Setting
@inject IMenuService MenuService
<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Tajerbashi</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="weather">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
            </NavLink>
        </div>
        @foreach (var item in menuItems)
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="@item.Link">
                    <span class="@item.Icon" aria-hidden="true"></span> @item.Title
                </NavLink>
            </div>
        }

    </nav>
</div>
@code {
    private IEnumerable<MenuProfileModel> menuItems = new List<MenuProfileModel>();
    protected override async Task OnInitializedAsync()
    {
        menuItems = await MenuService.ReadProfileAsync();
    }
}

